/*--------------------------------------------- root---------------------------------------------------------------*/

* { box-sizing: border-box; -moz-box-sizing: border-box; outline: none;
	/*these rules break the long words and remove overflow*/
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
}
body { margin: 0; padding: 0; background-color: #f6f6f6; }
#main { padding: 80px 0 80px 0; min-height:100vh; }
html, body { min-width:320px; }

/*--------------------------------------------- base ---------------------------------------------------------------*/

#main.base { height:98vh; width:100%; } /* new style */
.card.base { width: 32%; } /* new style */
@media (max-width: 1024px) {  /* new style */
    .half.base { width:100%; margin:0 0 20px 0; }
}

#logo img { width:250px; height: 47px; }

#card {
	width:480px;
	min-width:260px;
	padding:40px 40px 20px 40px;
}
#card button { background:#c29a5b; color:#fff; border:none; padding:20px; font-size:16px; width:100%; transition: all 500ms ease; border-radius: 5px; }
#card button:hover, #card button:focus { background: #333; color:#c29a5b; transform: scale(1.05); }
@media (max-width: 500px) {
	#card { width:100%; margin-left:10px;margin-right:10px; }
}

#login { flex-direction:column; }
#login input { width:100%; padding:20px; font-size:16px; border:none; margin: 0 0 20px 0; border-bottom: 1px solid #c29a5b; background: transparent; color: #333; outline: 0; }
#login input:focus::-webkit-input-placeholder { color:transparent!important; }
#login input:focus:-moz-placeholder { color:transparent!important; }
#login input:focus::-moz-placeholder { color:transparent!important; }
#login input:focus:-ms-input-placeholder { color:transparent!important; }
#login button[type=submit] { background:#c29a5b; color:#fff; border:none; padding:20px; font-size:16px; margin-top: 40px; border-radius: 5px; }
#login button[type=submit]:hover, #login button[type=submit]:focus { background:#333; color:#c29a5b; }

.pwlink { margin-top:40px; }
.pwlink a { color:#333; text-decoration:none; transition: all 500ms ease; }
.pwlink a:hover, .pwlink a:focus { color:#c29a5b; }

.zeroauto { margin:0 auto; }

.upload { border: 1px dashed #ccc; }
.upload:hover, .upload:focus { cursor:pointer; }

.square::before {
  content: "";
  display: block;
  padding-top: 100%;
}

/*--------------------------------------------- svg ---------------------------------------------------------------*/

.stx{fill:#fff;}
.st0{fill:#C29A5B;}
.st1{fill:#333;}
.cls-1{fill:#c29a5b;}
.cls-2{fill:#fff;}

/*--------------------------------------------- text---------------------------------------------------------------*/

html body { font-family: 'Lato', sans-serif; font-weight:300; font-size:16px; line-height:1.4em; }

h1, h2, h3, h4, h5, h6 { font-family: 'Roboto Slab', serif; color:#c29a5b; padding:0; margin-bottom:0.5em; font-weight:300; }
h1 { font-size: 32px; line-height: 36px; }
h2 { font-size: 28px; line-height: 32px; }
h3 { font-size: 24px; line-height: 28px; }
h4 { font-size: 20px; line-height: 24px; }
h5 { font-size: 18px; line-height: 22px; }
h6 { font-size: 16px; line-height: 20px; }

blockquote { border-left: 5px solid #c29a5b; padding:20px 40px; color:#333; font-size:22px; line-height:32px; width:66%; }

.xxsmall { font-size:12px; line-height: 16px; }
.xsmall { font-size: 14px; line-height: 19px; }
.small { font-size: 16px; line-height: 21px; }
.medium { font-size: 18px; line-height: 25px; }
.large { font-size: 24px; line-height: 34px; }
.xlarge { font-size:30px; line-height: 36px; }
.xxlarge { font-size: 36px; line-height: 40px; letter-spacing: -.03em; }
.xxxlarge { font-size:48px; line-height: 48px; letter-spacing: -.03em; }
.massive { font-size: 60px; line-height: 66px; letter-spacing: -.03em; }
.mega { font-size: 72px; line-height: 72px; letter-spacing: -.03em; }

@media (max-width: 480px) {
	.large { font-size: 18px; line-height: 22px; }
	.xlarge { font-size: 18px; line-height: 22px; }
	.xxlarge { font-size: 18px; line-height: 22px; letter-spacing: -.03em; }
	.xxxlarge { font-size: 24px; line-height: 26px; letter-spacing: -.03em; }
	.massive { font-size: 36px; line-height: 38px; letter-spacing: -.03em; }
	.mega { font-size: 40px; line-height: 42px; letter-spacing: -.03em; }
}

.oz {
	font-family: 'Oswald', sans-serif;
	font-size: 85%;
	font-weight: 800;
	letter-spacing: 0.1818em;
	text-transform: uppercase;
}

.sub {
    font-size: 0.6875rem;
    font-weight: 800;
    letter-spacing: 0.1818em;
    padding-bottom: 0.25em;
    text-transform: uppercase;
}

.tac, .tc { text-align:center; }

section { padding:40px 20px; }
section .title {
	text-align:center;
	margin:0;
	padding:0;
}

@media (max-width: 1200px) {
	section { padding:0 20px; }
}

/*--------------------------------------------- flexbox---------------------------------------------------------------*/

.flxp { display:flex; }
.flxc { display: flex; align-items: center; justify-content: center; }
.flxsb { display: flex; justify-content: space-between; flex-wrap: wrap; }
.flxw { display:flex; flex-wrap:wrap; }
.jc { justify-content:center; }
.aic { align-items: center; }
.stretch { align-items: stretch; }

/*--------------------------------------------- spacing---------------------------------------------------------------*/
.mp0 { margin:0; padding:0; }
.mb0 { margin-bottom: 0!important; }
.mt0 { margin-top:0; }
.mr0 { margin-right:0; }
.ml0 { margin-left:0 }
.ml10 { margin-left:10px; }
.mt20 { margin-top:20px; }
.mr20 { margin-right:20px; }
.ml20 { margin-left:20px; }
.mrl20 { margin-right:20px; margin-left:20px; }
.mb20 { margin-bottom:20px; }
.mt40 { margin-top:40px; }
.mr40 { margin-right:40px; }
.ml40 { margin-left:40px; }
.mrl40 { margin-right:40px; margin-left:40px; }
.mb40 { margin-bottom:40px; }
.mt60 { margin-top:60px; }
.mr60 { margin-right:60px; }
.ml60 { margin-left:60px; }
.mrl60 { margin-right:60px; margin-left:60px; }
.mb60 { margin-bottom:60px; }
.nomar { margin:0; }

.pad20 { padding:20px; }
.padtb20 { padding:20px 0 20px 0; }
.padb20 { padding-bottom:20px; }
.padt20 { padding-top:20px; }
.padlr20 { padding:0 20px;}
.padr20 { padding-right:20px;}
.padl20 { padding-left:20px;}
.pad40 { padding:40px; }
.padtb40 { padding:40px 0 40px 0; }
.padb40 { padding-bottom:40px; }
.padt40 { padding-top:40px; }
.padlr40 { padding:0 40px;}
.padr40 { padding-right:40px;}
.padl40 { padding-left:40px;}
.pad60 { padding:60px; }
.padtb60 { padding:60px 0 60px 0; }
.padb60 { padding-bottom:60px; }
.padt60 { padding-top:60px; }
.padlr60 { padding:0 60px!important;}
.padr60 { padding-right:60px;}
.padl60 { padding-left:60px;}
.padtb0 { padding-top:0; padding-bottom:0; }
.padt0 { padding-top:0!important; }
.padb0 { padding-bottom:0!important; }
.nopad { padding:0; }

.collapse { margin:0!important; padding:0!important; }

/*--------------------------------------------- borders / seperators---------------------------------------------------------------*/

.br { border-right:1px solid #ccc; }
.bl { border-left:1px solid #ccc; }
.bt { border-top:1px solid #ccc; }
.bb { border-bottom: 1px solid #ccc; }

@media (max-width: 1024px) {
	.half.br, .half.bl { border:none; }
	.half.padr20, .half.padl20, .half.padr40, .half.padl40, .half.padr60, .half.padl60 { padding:0; }
}

@media (max-width: 480px) {
	.padlr40 { padding:0;}
}

/*--------------------------------------------- grid---------------------------------------------------------------*/
.boxed {
	width:100%;
	max-width: 1440px!important;
	min-width: 320px;
	margin:0 auto;
	padding: 40px;
}

@media (max-width: 1439px) {
	.boxed { padding:40px; }
}


@media (max-width: 500px) {
	.boxed, .wide, .narrow { padding:20px; }
}

.quarter { width: calc(25% - 20px); margin: 0 10px 20px 10px; }
.third { width: calc(33.3333% - 20px); margin: 0 10px 20px 10px; }
.onethird { width:33.33%; }
.twothirds { width: 66.67%; }
.half { width: calc(50% - 20px); margin: 0 10px 20px 10px; }

@media (max-width: 1140px) {
	.quarter { width: calc(50% - 20px); margin: 0 10px 20px 10px; }
}

@media (max-width: 800px) {
	.half { width:100%; }
}

@media (max-width: 768px) {
	.onethird, .twothirds { width:100%; }
	.third { width: 100%; margin:0 0 20px 0; }
	.quarter { width: 100%; margin:0 0 20px 0; }
}

.full {
	width: calc(100% - 20px);
	margin: 0 10px 20px 10px;
}

.col-1 { width:100% }
.col-2 {
	align-items: stretch;
	width:48%;
 }

.col-3 {
	align-items: stretch;
	width:32%;
	padding: 40px;
	margin-bottom:40px;
 }

.col-4 {
	align-items: stretch;
	width:24%;
	padding: 40px;
	margin-bottom:40px;
}

.left { padding-right:40px; }

@media (max-width: 1000px) {
	.col-3, .col-4 { width:100%; }
	.col-2 { width:100%!important; }
	.onethird, .twothirds { width:100%; margin-bottom: 10px;}
	.left { padding-right:0; }
}

@media (max-width: 700px) {
	.col-3, .col-4 { width:100%; }
}

/*--------------------------------------------- css columns ---------------------------------------------------------------*/

.twocol {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	column-gap: 40px;
}

.threecol {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	column-gap: 40px;
}

@media (min-width:1024px) {
.threecol {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	}
}

@media (min-width:768px) {
.threecol {
	-webkit-column-gap: 60px;
	-moz-column-gap: 60px;
	column-gap: 60px;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-rule: 1px solid #333;
	-moz-column-rule: 1px solid #333;
	column-rule: 1px solid #ccc;
	}
}

@media (min-width:600px){
.twocol {
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	column-gap: 40px;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	}
}

/*--------------------------------------------- mobile hide / show ---------------------------------------------------------------*/

@media (max-width: 956px) {
	.mhide { display:none; }
}

@media (min-width: 955px) {
	.mshow { display:block; }
}

@media (max-width: 530px) {
	.mhide { display:none; }
}

@media (min-width: 529px) {
	.mshow { display:block; }
}

/*--------------------------------------------- topbar---------------------------------------------------------------*/

#topbar { width:100%; position:fixed; top:0; left:0; height:80px; background:#2b2a2a; z-index:10000; padding: 0 40px; }
#micon { padding-top:24px; }
#micon img { width:190px; height:32px; margin-right:20px; }
#search-input { padding:20px 15px; font-size: 16px; margin-top:10px; border:none; background:#f2f2f2; border-radius: 5px; width:100%; }
#dsearch input:focus::-webkit-input-placeholder { color:transparent!important; }
#dsearch input:focus:-moz-placeholder { color:transparent!important; } /* FF 4-18 */
#dsearch input:focus::-moz-placeholder { color:transparent!important; } /* FF 19+ */
#dsearch input:focus:-ms-input-placeholder { color:transparent!important; } /* IE 10+ */
#navform { padding:20px; }
#navsearch { padding:10px 20px; font-size: 16px; border:1px solid #ccc; border-radius: 5px; width:100%; }
#navsearch input:focus::-webkit-input-placeholder { color:transparent!important; }
#navsearch input:focus:-moz-placeholder { color:transparent!important; } /* FF 4-18 */
#navsearch input:focus::-moz-placeholder { color:transparent!important; } /* FF 19+ */
#navsearch input:focus:-ms-input-placeholder { color:transparent!important; } /* IE 10+ */
#lftwrap { height:80px; width:72%; }
#lftwrap form { width:100% }

@media (max-width: 956px) {
	#topbar { padding:0 20px; }
	#dsearch { display:none; }
	#lftwrap { width:100%; }
	#micon { width:100%; padding-right:45px; text-align:center; }
}

/*--------------------------------------------- Toolbar---------------------------------------------------------------*/

#toolbar {
	width:100%;
	height:60px;
	background:#ccc;
	border-top:1px solid #999;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:9999;
	display:none;
}

#toolbarsub {
	position:fixed;
	right:0;
	bottom:-9999px;
	background:#fff;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.25) -7px -4px 8px 0px;
	padding:0;
	width:100%;
}

#toolbar a { width:25%; }

#toolbar a button.tile {
	height:60px;
	margin:0;
	padding:0;
	border:0;
	box-sizing: border-box;
	border-image-width:0;
	width:100%;
	background:#ccc;
	transition: all 500ms ease;
}

#toolbar button.tile:hover, #toolbar button.tile:focus { background: #f6f6f6; cursor:pointer; }
#toolbar button.tile img { width:32px; text-align:center; }

@media (max-width: 956px) {
	#toolbar { display:flex; }
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    .noti { margin-left: 3px; }
}

#tbavatar {
	width:40px;
	height:40px;
	background-size:cover;
	background-repeat: no-repeat;
	border-radius: 50%;
	border: 1px solid #333;
	margin:0 auto;
}

#toolbarsub li {
	list-style-type: none;
	width:100%;
	border: 1px solid #ccc;
}

#toolbarsub li:hover, #toolbarsub li:focus {
	background: #c29a5b;
	transition: all 0.25s ease 0.0s;
}

#toolbarsub li a {
	text-decoration: none;
	color:#333;
	text-align:center;
	font-weight:400;
	width:100%;
	line-height:4em;
	display:block;
}

#toolbarsub li:hover > a, #toolbarsub li:focus > a {
	color:#fff;
	transition: all 0.25s ease 0.0s;
}

/*--------------------------------------------- secondary nav---------------------------------------------------------------*/

#secondary-nav {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #333;
  height: 50px;
	margin-bottom:40px;
}

.settings-menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0 0 4px 0;
	border-bottom: 1px solid #ccc;
}

.settings-menu > li { margin-right:20px; }

.settings-menu > li a {
	font-weight: 800;
	letter-spacing: 0.1818em;
	text-transform: uppercase;
	text-decoration:none;
	color:#333;
	padding:10px 10px 4px 10px;
}
.settings-menu > li a:hover { border-bottom:2px solid #c29a5b; }

@media (max-width: 530px) {
	.settings-menu > li { margin-right:10px; }
	.settings-menu > li a { padding:4px; }
}

@media (max-width: 440px) {
	.settings-menu > li a { padding: 0 0 4px 0; letter-spacing: 0; }
}

/*--------------------------------------------- breadcrumb---------------------------------------------------------------*/

.crumb { font-size: 0.9rem; padding-bottom: 0.25em; }
.crumb a { color: #666; }
.crumb span { margin:0 5px; }


/*--------------------------------------------- buttons---------------------------------------------------------------*/

button {
	padding:15px 30px;
	color:#fff;
	background:#c29a5b;
	border:none;
	font-size:16px;
	border-radius: 5px;
	transition: all 500ms ease;
	margin-top:20px;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	line-height:1.4em;
}

button:hover, button:focus {
	background:#2b2a2a;
	color:#c29a5b;
	cursor:pointer;
	transform: scale(1.10);
}


button.small {
	padding:6px 12px;
	color:#c29a5b;
	background: transparent;
	border:1px solid #333;
	border-radius: 5px;
	transition: all 500ms ease;
	margin-top:0;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size:16px;
	line-height:1.4em;
}

button.small:hover, button.small:focus {
	background:#333;
	border: 1px solid #333;
	color: #c29a5b;
	cursor:pointer;
	transform: scale(1.10);
}


/*--------------------------------------------- cards ---------------------------------------------------------------*/

.plaincard {
	background: #fff;
	align-items: stretch;
	padding:40px;
	border-radius:5px;
}


@media only screen and (max-width : 900px) {
	.plaincard { width:100%; margin-bottom:20px; }
}

/*--------------------------------------------- flip card ---------------------------------------------------------------*/

.flipcard { width:100%; border-radius: 5px;  }

.panel {
		margin: 0 auto;
		border-radius: 5px;
		min-height:300px;
		position: relative;
		-webkit-perspective: 600px;
		-moz-perspective: 600px;
}


.panel #front, .panel #back { padding: 40px; border-radius: 5px;  }

.panel #front {
		background: #fff;
		display:flex;
		height: inherit;
		position: absolute;
		top: 0;
		bottom: 0;
		left:0;
		right:0;
		z-index: 900;
		text-align: center;
		-webkit-transform: rotateX(0deg) rotateY(0deg);
		 -moz-transform: rotateX(0deg) rotateY(0deg);
		-webkit-transform-style: preserve-3d;
		 -moz-transform-style: preserve-3d;
		-webkit-backface-visibility: hidden;
		 -moz-backface-visibility: hidden;
		-webkit-transition: all .4s ease-in-out;
		 -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}

.panel #front .frontcont { margin:auto; }
.panel #front .frontcont img { display:block; margin: 0 auto; max-width: 50%; max-height: 50%; }
.panel #front .frontcont button { position: absolute; bottom:20px; right:20px; }


.panel #back {
		height: inherit;
		position: absolute;
		top: 0;
		bottom: 0;
		left:0;
		right:0;
		z-index: 1000;
		background:#2a2b2b;
		display:flex;
		-webkit-transform: rotateY(-180deg);
		 -moz-transform: rotateY(-180deg);
		-webkit-transform-style: preserve-3d;
		 -moz-transform-style: preserve-3d;
		-webkit-backface-visibility: hidden;
		 -moz-backface-visibility: hidden;
		-webkit-transition: all .4s ease-in-out;
		 -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}

.flipout {
		z-index: 900!important;
		-webkit-transform: rotateY(180deg)!important;
		-moz-transform: rotateY(180deg)!important;
}

.flipin {
		z-index: 1000!important;
		-webkit-transform: rotateX(0deg) rotateY(0deg)!important;
		-moz-transform: rotateX(0deg) rotateY(0deg)!important;
}

.box1, .box2 {
		width:100%;
		height:100%;
		margin: 0 auto;
		padding: 20px;
		border-radius: 10px;
}

.box1{
		background-color: #333;
		background-image: url('assets/image/placeholder-profile.jpg');
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
}

.box1 p {
		position:absolute;
		bottom:0;
		left:0;
		font-weight: 500;
		color:#fff;
		background: rgba(0, 0, 0, 0.7);
		padding:4px 16px 4px 16px;
		border-radius: 0px 5px 5px 0px;
}

.box2 h4, .box2 p { margin-top:0; margin-bottom:4px; padding:0; }
.box2 h4 { color: #c29a5b; }
.box2 p { font-size:16px; line-height:20px; color:#fff; }

/*--------------------------------------------- label---------------------------------------------------------------*/

.label { border-bottom:1px solid #ccc; margin-bottom:40px; }
.label h3 { margin-bottom:20px; }

/*--------------------------------------------- forms ------------------------------------------------------------- */

form placeholder { font-size:16px; }
form, textarea, form button, input[type=date] { outline: none; }

input[type="date"] {
	padding:20px;
	width:100%;
	border-radius:5px;
	border: 1px solid #ccc;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:16px;
	line-height:1.4em;
	margin: 0 0 15px 0;
}

textarea {
	padding:20px;
	width:100%;
	border-radius:5px;
	border: 1px solid #ccc;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:16px;
	line-height:1.4em;
	margin: 0 0 15px 0;
	height:50%;
}

input[type="text"], input[type="email"], input[type="password"], input[type="url"], input[type="date"] {
	padding:20px;
	width:100%;
	border-radius:5px;
	border: 1px solid #ccc;;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:16px;
	line-height:1.4em;
	margin: 0 0 15px 0;
 }

input[readonly] { background: gainsboro; font-weight:bold; }

input.submit {
	background: #c29a5b;
	color: #333;
	border: 0 none;
	border-radius: 5px;
	outline:none;
	margin: 5px;
}

input[type="file"] {
    display: none;
}

label[for=attachment] {
	border-radius:48px;
	width:48px!important;
	height:48px!important;
	background:#fff;
	transition: all 500ms ease;
	border:1px solid #ccc;
	position:absolute;
	right:0;
	display:none;
}

label[for=attachment]:hover, label[for=attachment]:focus {
	background:#c29a5b;
	cursor:pointer;
	box-shadow: 0 10px 20px 0 rgba(00, 00, 00, 0.2);
	transform: scale(1.25);
}

input[type=text]::-webkit-input-placeholder { color: #333!important; font-weight:300; }
input[type=text]::-moz-placeholder { color: #333!important; font-weight:300; }
input[type=text]:-ms-input-placeholder { color: #333!important; font-weight:300; }
input[type=text]:-moz-placeholder { color: #333!important; font-weight:300; }
input[type=text]:focus::-webkit-input-placeholder { color:transparent!important; }
input[type=text]:focus:-moz-placeholder { color:transparent!important; } /* FF 4-18 */
input[type=text]:focus::-moz-placeholder { color:transparent!important; } /* FF 19+ */
input[type=text]:focus:-ms-input-placeholder { color:transparent!important; } /* IE 10+ */

input[type=date]::-webkit-input-placeholder { color: #333!important; font-weight:300; }
input[type=date]::-moz-placeholder { color: #333!important; font-weight:300; }
input[type=date]:-ms-input-placeholder { color: #333!important; font-weight:300; }
input[type=date]:-moz-placeholder { color: #333!important; font-weight:300; }
input[type=date]:focus::-webkit-input-placeholder { color:transparent!important; }
input[type=date]:focus:-moz-placeholder { color:transparent!important; } /* FF 4-18 */
input[type=date]:focus::-moz-placeholder { color:transparent!important; } /* FF 19+ */
input[type=date]:focus:-ms-input-placeholder { color:transparent!important; } /* IE 10+ */

textarea::-webkit-input-placeholder { color: #333!important; font-weight:300; }
textarea::-moz-placeholder { color: #333!important; font-weight:300; }
textarea:-ms-input-placeholder { color: #333!important; font-weight:300; }
textarea:-moz-placeholder { color: #333!important; font-weight:300; }
textarea:focus::-webkit-input-placeholder { color:transparent!important; }
textarea:focus:-moz-placeholder { color:transparent!important; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color:transparent!important; } /* FF 19+ */
textarea:focus:-ms-input-placeholder { color:transparent!important; } /* IE 10+ */

input[type=password]::-webkit-input-placeholder { color: #333!important; font-weight:300; }
input[type=password]::-moz-placeholder { color: #333!important; font-weight:300; }
input[type=password]:-ms-input-placeholder { color: #333!important; font-weight:300; }
input[type=password]:-moz-placeholder { color: #333!important; font-weight:300; }
input[type=password]:focus::-webkit-input-placeholder { color:transparent!important; }
input[type=password]:focus:-moz-placeholder { color:transparent!important; } /* FF 4-18 */
input[type=password]:focus::-moz-placeholder { color:transparent!important; } /* FF 19+ */
input[type=password]:focus:-ms-input-placeholder { color:transparent!important; } /* IE 10+ */

.feedback-dropdown { margin-top: 1em; }

.feedback-dropdown select { color: #333; width: 100%; }

#id_sentiment { padding-left:20px; border-radius:5px; border:none; margin-top: 1em; margin-bottom: 1em; }

select option { padding:20px; }
select { color: #333!important; font-weight:300; font-size:16px }

#select-choice { padding-left: 20px; width:100%; height:60px; border-radius: 5px; border: 1px solid #ccc; margin-bottom: 1em; font-family: 'Lato', sans-serif;}


/*--------------------------------------------- underline ul---------------------------------------------------------------*/

ul.underline { width:100%; padding:0; margin:0; flex-direction: row;  }
ul.underline li { list-style-type: none; padding: 10px; border-bottom:1px solid #f6f6f6;  }
ul.underline li:hover, ul.underline li:focus { background: rgba(243, 235, 222, 1.0); transition: all 0.5s ease 0.0s; }

ul.underline li .sub { margin-right:auto; }

/*------------------------------------------------ loader/overlay ---------------------------------------------- */
#overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

ul#loader{
	display: block;
	position:fixed;
	left: calc(50% - 50px);
	top: calc(50% - 30px);
	width: 100px;
	padding-left:0;
	z-index: 9999;
}

#loader li{
	display: block;
	background: #c29a5b;
	width: 100px;
	height: 10px;
	margin-bottom: 10px;
	animation: load 2s infinite;
	border-radius: 5px;
}

#loader li:nth-child(2){animation-delay: 100ms;}
#loader li:nth-child(3){animation-delay: 200ms;}

@keyframes load{
	50%{
	width: 5px;
	margin-right: 95px;
	opacity: .1;
	}
}


/*--------------------------------------------- marketplace ---------------------------------------------------------------*/

#popular { margin-top:20px; }
#more { border-top:1px solid #ccc; margin-top:10px;padding-top:20px; }
#more .fourchip { width:23.125% }
#back button.rev { margin-top:0; }
#status { padding-top:40px; }
#status .col-3{ text-align:center; font-size:18px; line-height:26px; padding: 20px; }
#status .col-3:nth-child(2) { border-left:1px solid #ccc; border-right:1px solid #ccc; }

@media (max-width: 1200px) {
	#status { flex-direction:column }
	#status .col-3 { padding:24px; margin-bottom:0; width: 100%; }
	#status:last-of-type { margin-bottom:40px; }
	#status .col-3:nth-child(2) { border-top:1px solid #ccc; border-bottom:1px solid #ccc; border-right: none; border-left:none; }
}



/*----------------------------------------- new style for transition checklist ----------------------------------------*/
#overall-progress, .progress {
	list-style: none;
	width: 100%;
	position: relative;
	line-height: 2.3em;
}

ul#overall-progress,  ul.progress { padding:0; margin:0; }

ul.progress { margin-bottom:40px;}

#overall-progress li, .progress li {
	background:#ededed;
	height:40px;
	border:1px solid #ccc;
	border-radius:15px;
}

#overall-progress li:not(:last-child), .progress li:not(:last-child) {
    margin-bottom:40px;
}

.bar {
	height:38px;
	position:absolute;
	border-radius:15px;
	padding-left: 20px;
	color:#fff;
	font-weight:400;
	background: #939393;
}

.urgent { background: #ff0000; }
.caution { background: #ffff00; }
.current { background: #00d300; }

.bar.caution { color:#333; }

.action-items { margin-bottom:10px; }

.action-items:hover, .action-items:focus {
    cursor:pointer;
}

.none { display: none; }
.flxe { align-self: flex-end; }

#id_ifp_domain_address, #id_dba_domain_address {
	display: none;
}

#email-selection input[type="text"] { margin-top:10px; text-transform: lowercase; }

@media (max-width: 1024px) {
  #email-selection .half { width:100%; }
  #email-selection .half.br { border-bottom:1px solid #ccc; padding-bottom:40px; }
}

p.contenteditable {
    display:inline-block;
    margin-top:0;
}

#editmode p.contenteditable input[type=text], input[type=date] {
    padding:0 0 0 2px;
    width:auto;
    border-radius:0;
    border:none;
    margin:0 0 0 2px;
    transition: all 300ms ease;
    font-weight: bold;
}

#editmode p.contenteditable input[type="text"]:hover { cursor:pointer; color:#c29a5b!important; text-decoration:underline; }
#editmode p.contenteditable input[type="text"]:focus { cursor:pointer; color:#000!important; text-decoration:none; }

input[type="date"]:hover { cursor:pointer; color:#c29a5b!important; text-decoration:underline; }
input[type="date"]:focus { cursor:pointer; color:#000!important; text-decoration:none; }

#editmode p.contenteditable input[type=text]:focus,  input[type="date"]:focus{
	padding: 20px;
	border-radius: 2px;
	border: 1px solid #ccc;
}

/*---------------------------------------- secondary transition checklist nav-------------------------------------*/

.secondary-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0 0 20px 0;
    width: 100%;
    border-bottom:1px solid #ccc;
}

.secondary-menu > li a {
    text-decoration:none;
    color:#333;
    padding-bottom: 4px;
    margin-right: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 100%;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.secondary-menu > li a:hover, .secondary-menu > li a.currentpg {
    border-bottom: 1px solid;
    color: #c29a5b;
}

#accounts tr:hover td, #accounts tr:focus td {
    background: rgb(243, 235, 222);
    transition: all 0.5s ease 0.0s;
    cursor: pointer;
}

.subject {
    background: #c29a5b;
    color:#fff;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

@media (max-width: 1000px) {
    #acct_info .onethird.br { border-right:none; border-bottom:1px solid #ccc; padding-bottom:40px; }
    #acct_info .twothirds.padl40 { padding-left:0; }
}

.message .padl40 p {
    padding-right: 40px;
    height: auto!important;
    max-height: 240px;
    overflow-y: scroll;
}

.message .flxw .twothirds p {
    padding-right: 40px;
    height: auto!important;
    max-height: 200px;
    overflow-y: scroll;
}

.message .twothirds .attachments ul { padding-left:0!important; margin-bottom:20px; }
.message .twothirds .attachments ul li { list-style-type: none; margin-right:20px; }

@media (max-width: 1000px) {
	.message .twothirds .attachments, .message .twothirds .note { padding-left:20px; }
}

.pagination {
    padding-left: 0 !important;
    display: inline-block;
    text-align: center;
    margin-top: 40px;
	width: 100%;
}

.pagination li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    list-style-type: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    transition: all 500ms ease;
}

.pagination li.active {
    background: #c29a5b;
}

.pagination li.active > a {
     color: #ffffff;
}

.pagination li:hover {
     background:#2a2b2b;
}

.pagination li:hover > a, .pagination li:focus > a {
     color: #c29a5b;
}

/*------------------------------ responsive table styles ---------------------------------- */

#restable { border: 1px solid #ccc; width:100%; }
#restable ul { width:100%; padding:0; margin:0; flex-direction: row;  }
#restable ul li { list-style-type: none; width:16.666%;  }

.restr:nth-child(even) { background: #f1f1f1; }
.restr:nth-child(odd) { background: #fff; }
.restr:hover > li, .restr:focus > li { background: rgba(243, 235, 222); transition: all 0.5s ease 0.0s; }

#resth { width:100%; }
#resth li {
    font-family: 'Roboto Slab', serif;
    color: #fff;
    text-align: left;
    background: #2b2a2a;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.0625em;
		padding: 20px;
}

.restr li { padding:20px; }

@media (max-width: 1000px) {
	#restable { border: none; }
	#resth { display: none; }
	#restable ul { flex-direction: column; margin-bottom: 20px; border:1px solid #ccc; border-top: 4px solid #ccc;  }
	#restable ul li { width:100%;  }
	.restr { background:#fff; }
	.restr:hover, .restr:focus { background: #fff; transition: all 0s ease 0.0s; }
	.restr li:nth-child(even) { background: #f1f1f1; }
	.restr li:nth-child(odd) { background: #fff; }
	.restr li { padding: 10px 20px 10px 0px; }
	.restr li:hover { background: rgba(243, 235, 222); transition: all 0.5s ease 0.0s; }
	.restr li::before {
		text-align: left;
		font-weight: 400;
		letter-spacing: 0.0625em;
		padding: 10px 20px;
		margin-right:5px;
		width: 300px;
	}
	.restr li.client::before { content:'Client:'; }
	.restr li.account::before { content:'Delivering Account Number:'; }
	.restr li.platform::before { content:'Receiving Platform:'; }
	.restr li.status::before { content:'Status:'; }
	.restr li.assignee::before { content:'Assignee:'; }
}

/*Reverse direction of onethird and twothird so that dropzone form is in 2nd place*/
.reverse{ flex-direction: row-reverse; }
@media (max-width: 1000px) {
  .reverse { flex-direction:column-reverse; }
}

/*--------------------------------------------- new boxed styles---------------------------------------------------------------*/
#topbar {
	width: 100%;
	position:fixed;
	top: 0;
	left: 0;
	height: 60px;
	background: #2b2a2a;
	z-index: 50;
	padding: 0 40px;
}

@media (max-width: 780px) {
	#topbar { padding:0 20px; }
}

#topbar .boxed {
	padding:0!important;
}

@media (min-width: 1480px) { #topbar .boxed { padding:0 40px 0 40px!important; } }
@media (max-width: 500px) { #topbar .boxed { padding:20px; } }

#toggle { margin-top:-17px; margin-right:20px; }
#toggle svg { width:30px; }
#toggle:hover { cursor:pointer; }

button#toggle { background:none; border:none; padding: 0 0 0 8px; }

#search-input {
	padding:10px 15px;
	font-size: 16px;
	margin-top:12px;
	border:none;
	background:#f6f6f6;
	border-radius:5px;
	width:60%;
}

#micon { padding-top:18px; }
#micon svg, #micon img {
	width:130px;
	height:24px;
	margin-right:32px;
}

#lftwrap { height:80px; width:72%; }
#lftwrap form { width:100%; margin-top: -2px; }

@media (max-width: 956px) {
	#lftwrap { width:100%; }
	#micon { width:100%; padding-right:45px; text-align:center; }
}

nav {
	position:relative;
	top:-4px;
}

nav ul {
    position: relative;
    text-align: center;
    margin-top: 0;
	margin-bottom: 22px;
}

nav ul li a svg, nav ul li a img {
    width: 24px;
}

#useravatar {
    width: 28px;
    height: 28px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid #d7d2cb;
    margin: 2px 0 10px 0;
}

#toggle svg, #toggle img {
    width: 24px;
}

/*--------------------------------------------- training posts-----------------------------------------------------*/

#related-posts .multicol {
    -webkit-column-count: 3!important;
    -moz-column-count: 3!important;
    column-count: 3!important;
    -webkit-column-gap: 40px!important;
    -moz-column-gap: 40px!important;
    column-gap: 40px!important;
}

@media (max-width:1024px) {
	#related-posts .multicol {
		-webkit-column-count: 2!important;
		-moz-column-count: 2!important;
		column-count: 2!important;
		-webkit-column-gap: 60px!important;
		-moz-column-gap: 60px!important;
		column-gap: 60px!important;
	}
}

@media (max-width:768px) {
	#related-posts .multicol {
		-webkit-column-count: 1!important;
		-moz-column-count: 1!important;
		column-count: 1!important;
	}
}
#related-posts ul { list-style-type: none; padding-left:0!important; }

#related-posts ul li { margin-bottom:20px; }

#head { position: relative; }

.helpbtn {
    position: absolute;
    bottom:20px;
    right:40px;
}

@media (max-width:790px) {
	.helpbtn {
		position: static;
		bottom:0;
		right:0;
		margin-top: -40px;
		margin-bottom: 20px;
		margin-left: 10px;
	}
}

/*------------------------------------------- progressbar -----------------------------------------------*/
.progressbar {
    list-style: none;
    counter-reset: step;
    display: flex;
    padding: 0;
}

.item-pgbar {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    position: relative;
}

.item-pgbar:before {
    width: 3em;
    height: 3em;
    content: counter(step);
    counter-increment: step;
    align-self: center;
    background: #999;
    color: #fff;
    border-radius: 100%;
    line-height: 3em;
    margin-bottom: .5em;
}

.item-pgbar:after {
    height: 2px;
    width: calc(100% - 4em);
    content: '';
    background: gray;
    position: absolute;
    top: 1.5em;
    left: calc(50% + 2em);
}

.item-pgbar-active:before { background: #c29a5b; }

.item-pgbar-complete:before { content: '?'; background: #c29a5b; }

.item-pgbar-complete:after { background: #c29a5b; }

.item-pgbar:last-child:after { content: none; background: gray; }

@media (max-width: 900px) {
	.progressbar {
		flex-direction: column;
	}

	.item-pgbar::after {
		width: 2px;
		height: calc(100% - 4em);
		top: 5.5em;
		left: calc(50% - 0px);
	}

	.item-pgbar {
		margin-bottom: 40px;
	}
}