{% extends 'index.html' %}

{% block content %}

    <div class="boxed">
    <h1>New Project</h1>
    <hr/>

        <div class="col-1 plaincard">
            <form method="post" action="">

                {{ form.csrf_token }}
                {{ form.name.label }}{{ form.name }}
                {{ form.type.label }}{{ form.type }}
                {{ form.status.label }}{{ form.status }}
                {{ form.start_date.label }}{{ form.start_date }}
                {{ form.description.label }}{{ form.description }}

            <input class="submit button small" type="submit" action="Go" value="Submit"/>
            </form>
        </div>

    </div>
{% endblock %}
